body {
  background-image: url("../assets/htmlcss1-img_foodlogo.webp");
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ---- Navigation ---- */
nav {
  text-align: center;
}

nav img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

nav span {
  display: block;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  color: black;
  line-height: 30px;
  margin: 10px 0;
}

nav a {
  color: #666666;
}

/*  ---- Content Container  ----   */
.content {
  width: 80%;
  height: 500px;
  margin: 10px auto;
  overflow-y: scroll;
}

/*  ---- Content Header  ----   */

.header {
  height: 320px;
  background-image: url("../assets/htmlcss1-img_burgerphoto.webp");
  background-size: cover;
  background-position: center;
}

.header h1 {
  position: relative;
  top: 100px;
  margin: 0 auto;
  background-color: #0798a8;
  opacity: 0.7;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  width: 55%;
  padding: 20px;
}

/*  ---- Content Body  ----   */
.body {
  width: 90%;
  margin: 0 auto;
}

.body p {
  color: #333333;
  font-weight: 100;
  line-height: 34px;
  margin: 18px 0;
}

/*  ---- Content Button  ----   */
.button {
  border-radius: 4px;
  width: 200px;
  color: #05a8aa;
  display: block;
  font-weight: 700;
  margin: 40px auto;
  padding: 20px 20px;
  border: 1px solid #05a8aa;
  transition: 0.6s;
}

.button:hover {
  background-color: #05a8aa;
  color: #fff;
  font-size: 20px;
}

/* Content Nutrition */
ul.nutrition {
  padding: 0 20px 20px 20px;
}

ul.nutrition li {
  width: 180px;
  margin-bottom: 3px;
  display: inline-block;
  background-color: #05a8aa;
  list-style: none;
  padding: 10px 20px;
}

.nutrition .category {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  display: block;
}

.nutrition .value {
  color: white;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
}
